.dateStyle {
    color: black;
    font-size: medium;
    font-family: cursive;
    text-align: center;
    margin-top: 15px;
  }

  .datePickerStyle {
    color: black;
    font-size:xx-large;
    font-family: cursive;
    text-align: center;
    margin-top: 15px;
  }

  .monthPickerStyle {
    color: black;
    font-size:medium;
    font-family: fantasy;
    text-align: center;
    margin-top: 15px;
  }
